# Stack
.stack-work
stack.yaml.lock
.stack-work/
.stack/
*~
*.swp
*.swo
.DS_Store
# IDE
.idea/
# Aux files 
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog
cabal.project.local
cabal.project.local~
.ghc.environment.*
